{% extends "base.html" %} {% block title %}Regisztráció{%endblock%} 
{%block css%}
{{super()}}
<style>
  body {
    background-image: url("/static/signup_bg.jpg");
    background-size: cover;
    background-position: center;
  }
  .content-wrapper {
    background-color: rgba(240, 255, 240, 0.8);
    padding: 60px;
    margin: 20px;
  }
</style>
{%endblock%}
{%block content%}
<div class="content-wrapper">
<form method="POST">
  <h1 align="center" style="margin-top: 20px;">Regisztráció</h1>
  <div class="form-group">
    <label for="email">Email cím</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Adja meg az email címét" />
  </div>
  <div class="form-group">
    <label for="userName">Felhasználónév</label>
    <input type="text" class="form-control" id="userName" name="userName"
      placeholder="Adjon meg egy felhasználónevet" />
  </div>
  <div class="form-group">
    <label for="password1">Jelszó</label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Adja meg a jelszavát" />
  </div>
  <div class="form-group">
    <label for="password2">Jelszó megerősítése</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Jelszó megerősítése" />
  </div>
  <br />
  <div style="text-align: center;">
    <button type="submit" class="col-md-6 btn btn-outline-primary">Regisztráció</button>
  </div>
</div>
{%endblock%}